<!DOCTYPE html>
<html>
  <head>
    <title>VidyaVortex - Dive into the World of Video Games</title>
    
    <meta name="description" content="Registerpage for VidyaVortex Web Service, Project WSD 2015">
    <meta charset="utf-8" />

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static "DataVortex/img/favicon.png" %}">
    <script src="{% static "DataVortex/js/jquery-1.11.1.min.js" %}"></script> 

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="{% static "DataVortex/css/main.css" %}" />
  </head>
  <body>	
  	<div id="bg">
  		<div id="container">
		  	<div id="header">
				<div id="logo">
					<a href="{% url "homepage" %}"><img src="{% static "DataVortex/img/logo.png" %}" alt="VidyaVortexLogo"/></a>
				</div>
				<div id="loginbar">
					{% if not user.is_authenticated %}
						<p><a href="{% url "login" %}">Login</a> <b>|</b> <a href="{% url "register" %}">Register</a></p>
					{% else %}
						<p><a href="{% url "logout" %}">Logout</a> <b>|</b> Welcome, {{ user.get_username }}!</p>
					{% endif %}
				</div>
			</div>
			<div id="content">
				<div id="sidebar">
					<ul>
						<li><a href="{% url "homepage" %}">HOME</a></li>
						{% if isDev %}
						<li><a href="{% url "addgame" %}">ADD NEW GAME</a></li>
						{% endif %}
						<li><a href="{% url "browse" %}">BROWSE GAMES</a></li>
						<li><a href="{% url "highscores" %}">HIGHSCORES</a></li>
						<li><a href="{% url "faqpage" %}">FAQ</a></li>
					</ul>
				</div>
				<div id="content-box">
					<h2>Register a new account:</h2>
					<form action="{% url "register" %}" method="post" class="form-inline">
					  {% csrf_token %} 
					  <table>
					    {{ form.as_table }}
					  </table>
					  <input type="submit" value="Submit" />
					</form>
					<div id="error">
						{% if state == 1 %}
						<h2>Congratulations! Registration completed successfully!</h2>
						{% elif state == 2 %}
						<h3>Insufficient registration information! Please check your input.</h3>
						{% elif state == 3 %}
						<h3>Password input mismatch! Please re-enter your password.</h3>
						{% elif state == 4 %}
						<h3>That username is already taken! Try another!</h3>
						{% elif state == 5 %}
						<h3>That email address is already taken! Try another!</h3>
						{% else %}
						<span></span>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="footer">
				<div id="footer-text">
					<p>Copyright © VidyaVortex. All rights reserved. Design by WSD-Group.</p>
				</div>
			</div>
		</div>
	 </div>
  </body>
</html>